label {
  background-color: rgba(226, 206, 179, 0.7);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  display: block;
  width: 300px;
  margin: auto;
}


.resultp {
  background-color: rgba(226, 206, 179, 0.7);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#background {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

.color-change {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  padding: 50px 50px 500px 50px;
}


.not-showing > img {
  display: block;
  width: 150px;
  padding-bottom: 20px;
}

.btn {
  margin-bottom: 40px;
}

.thanks {
  display: none;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.1);
}

.warning {
  display: none;
  color: red;
}

.not-showing {
  display: none;
}

#name {
  margin-bottom: 10px;
}

/*prevents name input text from changing to white(on white) with the background color toggle*/
#name > input {
  color: black;
}

#form-wrapper {
  margin-bottom: 50px;
}
